.categories{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.categories form{
    width: 410px;
    margin-bottom: 20px;
}

.categories label{
    font-size: 26px;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.categories input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
.categories input{
    width: 300px;
}

.categories input:focus{
    width: 300px;
    background-color: rgb(236, 236, 236);
}

.categories button{
    font-weight: 700;
    border-radius: 6px;
    text-transform: uppercase;
    width: 100px;
    background: #555;
    color: white;
    margin-left: 10px;
}

.categories .edt_cate_btn {
    background-color: rgb(200, 68, 19);
}

.categories .del_cate_btn {
    background-color: crimson;
}

.categories .add_update_cate_btn {
    background: rgb(7, 193, 7);
    opacity: 0.8;
}

.categories .row{
    border-radius: 8px;
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.form_add_cate {
    margin: 0 auto;

}